.header-icon {
  margin-right: 10px;
}

.analyze-container {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  height: 500px;
}

.code-list {
  width: 400px;
  height: 500px;
  margin-right: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .single-code {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .selected-code {
    background-color: var(--second-background-color);
  }
}

.code-view {
  width: 600px;
  border: 1px solid black;
  margin-right: 20px;
}

.analyze-view {
  width: 600px;
  height: 500px;
  border: 1px solid black;
  overflow: auto;
  .report-wrapper {
    display: flex;
    flex-direction: column;
    .report {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      text-align: center;
      height: 75px;
    }
  }
}
