<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="header-icon">assessment</mat-icon>
    <span>Analyze</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="analyze-container">
  <div class="code-list">
    <span
      class="single-code clickable"
      *ngFor="let code of (codes | async)?.reverse()"
      [ngClass]="currentCode?.id === code?.id ? 'selected-code' : ''"
      (click)="onCodeSelected(code)"
    >
      {{ code.date | date: "dd/MM/yyyy - HH:mm" }}
    </span>
  </div>

  <div class="code-view">
    <textarea #editor></textarea>
  </div>

  <div class="analyze-view">
    <div class="report-wrapper" *ngIf="currentCode && currentCode.report">
      <span class="report-title">Best Coverage</span>
      <span class="report">{{ currentCode.report.bestAverageCodeCover }}%</span>

      <div class="divider"></div>

      <span class="report-title">Worst Coverage</span>
      <span class="report">
        {{ currentCode.report.worstAverageCodeCover }}%
      </span>

      <div class="divider"></div>

      <span class="report-title">Infinte Loops</span>
      <img
        [ngClass]="isInfinteLoop ? 'report-icon' : 'report-icon-disabled'"
        src="assets/infinte.png"
        (click)="isInfinteLoop && (showInfinteLoop = !showInfinteLoop)"
      />
      <div *ngIf="showInfinteLoop">
        <div *ngFor="let run of currentCode.report.worstResults">
          <div class="report-infinity" *ngIf="run.rowCover === -1">
            For the param: {{ run.parameterValue }} there is an infinte loop on
            line {{ run.lineNumber[0] + 1 }}
          </div>
        </div>
        <div *ngFor="let run of currentCode.report.bestResults">
          <div class="report-infinity" *ngIf="run.rowCover === -1">
            For the param: {{ run.parameterValue }} there is an infinte loop on
            line {{ run.lineNumber[0] + 1 }}
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <span class="report-title">Unused Params</span>
      <img
        [ngClass]="isUnusedParams ? 'report-icon' : 'report-icon-disabled'"
        src="assets/unused.png"
        (click)="isUnusedParams && (showUnusedParams = !showUnusedParams)"
      />
      <div *ngIf="showUnusedParams">
        <div *ngFor="let run of currentCode.report.toatlUnusedVars | keyvalue">
          <span class="report-infinity">{{ run.key }} : {{ run.value }}%</span>
        </div>
      </div>

      <div class="divider"></div>

      <span class="report-title">Line Coverage</span>
      <canvas id="lineCoverageGraph" width="50" height="50"></canvas>
    </div>
  </div>
</div>
