@import './styles/variables.scss';
@import './styles/material.scss';
@import './styles/controls.scss';
@import './styles/overrides.scss';

html,
body {
    font-family: 'Arimo';
    background-color: var(--background-color);
    color: var(--text-color);
}