@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Arimo');

:root {
    --background-color: #282a36;
    --second-background-color: #44475a;
    --hover-color: #6272a4;
    --text-color: #f8f8f2;
    --error-color: #ff5555;
    --success-color: #50fa7b;
    --warnning-color: #f1fa8c;
}

html,
body {
    font-family: 'Arimo';
    background-color: var(--background-color);
    color: var(--text-color);
}

mat-toolbar {
    background-color: var(--second-background-color) !important;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: var(--hover-color);
}