<mat-toolbar>
  <mat-toolbar-row class="header-layout">
    <span class="clickable" (click)="navigage('home')">Code Analyzer</span>

    <div>
      <mat-icon
        class="header-icon clickable"
        matTooltip="home"
        [ngClass]="currentPage === 'home' ? 'selected-icon' : ''"
        (click)="navigage('home')"
        >home</mat-icon
      >

      <mat-icon
        *ngIf="isLoggedIn()"
        class="header-icon clickable"
        matTooltip="editor"
        [ngClass]="currentPage === 'editor' ? 'selected-icon' : ''"
        (click)="navigage('editor')"
        >code</mat-icon
      >

      <mat-icon
        *ngIf="isLoggedIn()"
        class="header-icon clickable"
        matTooltip="analyze"
        [ngClass]="currentPage === 'analyze' ? 'selected-icon' : ''"
        (click)="navigage('analyze')"
        >assessment</mat-icon
      >

      <mat-icon
        *ngIf="isLoggedIn()"
        class="header-icon clickable"
        matTooltip="profile"
        [ngClass]="currentPage === 'profile' ? 'selected-icon' : ''"
        (click)="navigage('profile')"
        >person_pin</mat-icon
      >

      <mat-icon
        *ngIf="isLoggedIn()"
        class="header-icon clickable"
        matTooltip="log out"
        (click)="onLogout()"
        >exit_to_app</mat-icon
      >

      <mat-icon
        *ngIf="!isLoggedIn()"
        class="header-icon clickable"
        matTooltip="login"
        [ngClass]="currentPage === 'login' ? 'selected-icon' : ''"
        (click)="navigage('login')"
        >person_pin</mat-icon
      >

      <mat-icon
        *ngIf="!isLoggedIn()"
        class="header-icon clickable"
        matTooltip="registration"
        [ngClass]="currentPage === 'registration' ? 'selected-icon' : ''"
        (click)="navigage('registration')"
        >edit</mat-icon
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
