.header-icon {
    margin-right: 10px;
}

.choises-container {
    padding: 30px 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choise {
    text-align: center;
    padding: 7px 10px;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 50px;
    border-radius: 25px;
}

.choise-icon {
    font-size: 80px;
}

.not-selected-choise {
    border: 1px solid var(--black-color);
    background-color: var(--second-background-color);
}

.not-selected-choise:hover {
    border: 1px solid var(--hover-color);
}

.selected-choise {
    border: 1px solid var(--hover-color);
    background-color: var(--text-color);
    color: var(--hover-color);
}

.editor-container {
    padding: 5px 300px;
    display: flex;
    flex-direction: column;
}

.editor-headline {
    font-size: 24px;
}

.editor-field {
    height: 250px;
    resize: none;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
}

.submit-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.spinner {
    margin: 5px;
}