<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="header-icon">code</mat-icon>
    <span>Editor</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="choises-container" [ngClass]="isLoading ? 'disabled' : ''">
  <div
    class="clickable choise"
    (click)="isEditor = true; isUploader = false"
    [ngClass]="isEditor ? 'selected-choise' : 'not-selected-choise'"
  >
    <div class="choise">
      <mat-icon class="choise-icon">code</mat-icon>
      <span>Write Code</span>
    </div>
  </div>

  <div
    class="clickable choise"
    (click)="isUploader = true; isEditor = false"
    [ngClass]="isUploader ? 'selected-choise' : 'not-selected-choise'"
  >
    <div class="choise">
      <mat-icon class="choise-icon">cloud_upload</mat-icon>
      <span>Upload File</span>
    </div>
  </div>
</div>

<app-code-editor-form
  *ngIf="isEditor"
  [isLoading]="isLoading"
  [errMsg]="errMsg"
  (submit)="onSubmit($event)"
></app-code-editor-form>

<app-code-uploader-form
  *ngIf="isUploader"
  [isLoading]="isLoading"
  [errMsg]="errMsg"
  (submit)="onSubmit($event)"
></app-code-uploader-form>
