<mat-toolbar color="primary">
  <mat-toolbar-row class="header-layout">
    <span>בודק קוד אוטומאטי</span>

    <div>
      <mat-icon class="header-icon clickable" matTooltip="דף ראשי" (click)="navigage('home')">home</mat-icon>
      <mat-icon class="header-icon clickable" matTooltip="התחברות" (click)="navigage('login')">person_pin</mat-icon>
      <mat-icon class="header-icon clickable" matTooltip="הרשמה" (click)="navigage('registration')">edit</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>