<mat-toolbar color="primary">
  <mat-toolbar-row class="header-layout">
    <span class="clickable" (click)="navigage('home')">Code Analyzer</span>

    <div>
      <mat-icon class="header-icon clickable" matTooltip="home page" (click)="navigage('home')">home</mat-icon>

      <mat-icon *ngIf="isLoggedIn()" class="header-icon clickable" matTooltip="editor" (click)="navigage('editor')">code</mat-icon>
      <mat-icon *ngIf="isLoggedIn()" class="header-icon clickable" matTooltip="profile" (click)="navigage('profile')">person_pin</mat-icon>
      <mat-icon *ngIf="isLoggedIn()" class="header-icon clickable" matTooltip="log out" (click)="onLogout()">power_settings_new</mat-icon>

      <mat-icon *ngIf="!isLoggedIn()" class="header-icon clickable" matTooltip="login" (click)="navigage('login')">exit_to_app</mat-icon>
      <mat-icon *ngIf="!isLoggedIn()" class="header-icon clickable" matTooltip="registration" (click)="navigage('registration')">edit</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>