.editor-container {
  padding: 5px 300px;
  display: flex;
  flex-direction: column;
}

.file-upload {
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.spinner {
  margin: 5px;
}

.error-msg {
  pointer-events: none;
  resize: none;
}
