<div class="body">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header-layout">
      <span>בודק קוד אוטומאטי</span>

      <div>
        <mat-icon class="header-icon clickable" (click)="navigage('home')">home</mat-icon>
        <mat-icon class="header-icon clickable" (click)="navigage('login')">person_pin</mat-icon>
        <mat-icon class="header-icon clickable" (click)="navigage('registration')">edit</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-toolbar class="footer" color="primary">
    <mat-toolbar-row class="footer">
      <span>פרוייקט גמר 2019</span>
      <span>המכללה למנהל מדעי המחשב</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>