.body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.header-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 2px black;
}

.header-icon {
    padding: 0 14px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    font-size: 14px;
    min-height: 40px;
    display: flex;
    justify-content: space-between
}