<form [formGroup]="editorForm" class="editor-container" (ngSubmit)="onSubmitCode()">
    <span class="editor-headline">Write your code here</span>

    <mat-form-field color="accent">
        <textarea class="editor-field" matInput formControlName="code"></textarea>
        <mat-error>Please add some code before submitting</mat-error>
    </mat-form-field>

    <button mat-raised-button class="submit-button" type="submit" [disabled]="!editorForm.valid">
        <span *ngIf="!isLoading">Submit Code</span>
        <mat-spinner *ngIf="isLoading" class="spinner" color="accent" [diameter]="27"></mat-spinner>
    </button>
</form>