.header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-size: 42px;
  margin-bottom: 30px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyze-button {
  margin-top: 15px;
  width: 150px;
}

.image-container {
  display: flex;
  justify-content: center;
  .background-img {
    margin-left: 70px;
    width: 340px;
    height: 430px;
  }
}
