.header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-size: 42px;
  margin-bottom: 30px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyze-button {
  margin-top: 15px;
  width: 150px;
}

.background-img {
  margin-top: 30px;
  width: 400px;
  height: 500px;
}
